<div fxLayout="row" fxLayoutAlign="start center" class="flex-p">
    <div fxLayout="row">
        <mat-button-toggle-group #controls="matButtonToggleGroup">
            <mat-button-toggle value="add" (click)="openUserDialog(null)">
                <mat-icon>person_add</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>

<div fxLayout="row wrap">
    <div *ngFor="let user of users" fxFlex="100" class="flex-p">
        <mat-card class="p-0">
            <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
                <h3 *ngIf="!user.settings.isDeleted" class="user-name">{{user.profile.firstname}} {{user.profile.lastname}}</h3>
                <h3 *ngIf="user.settings.isDeleted" class="user-name">User blocked</h3>
                <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <mat-menu #menu="matMenu" xPosition="before">
                <span (mouseleave)="menuTrigger.closeMenu()">
                    <button mat-menu-item (click)="openUserDialog(user);">
                        <mat-icon>mode_edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="deleteUser(user);">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </span>
            </mat-menu>
            <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="100" fxLayout="row" fxLayout.xs="column" class="user-details transition-2" [class.blocked]="user.settings.isDeleted">
                    <div fxFlex="30" fxFlex.xs="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon *ngIf="user.settings.isDeleted" class="muted-text">person_outline</mat-icon>
                            <mat-icon *ngIf="!user.settings.isDeleted" class="muted-text">person</mat-icon>
                            <span>{{ (user.settings.isDeleted) ? 'Blocked' : 'Online' }}</span>

                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">event_available</mat-icon>
                            <span>Registration {{user.settings.registrationDate | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon *ngIf="user.settings.isDeleted" class="muted-text">lock</mat-icon>
                            <mat-icon *ngIf="!user.settings.isDeleted" class="muted-text">lock</mat-icon>
                            <mat-slide-toggle color="primary" [checked]="user.settings.isDeleted" (change)="user.settings.isDeleted = !user.settings.isDeleted"></mat-slide-toggle>

                        </p>
                    </div>
                    <div fxFlex="30" fxFlex.xs="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">more_horiz</mat-icon>
                            <span>{{ (user.userroles.crm) ? 'can use crm module' : 'cannot use crm module' }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div *ngIf="!users" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <mat-spinner color="primary"></mat-spinner>
</div>