<h1 mat-dialog-title><span *ngIf="!user.uid">Add</span><span *ngIf="user.uid">Edit</span> user</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="user-form">      
        <mat-tab-group class="vertical-tabs">
           <mat-tab label="Personal" formGroupName="profile">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="firstname" formControlName="firstname">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="lastname" formControlName="lastname">
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Settings" formGroupName="settings">
                <div fxLayout="column" class="form-field-outer">
                    <mat-checkbox formControlName="isDeleted">Blocked</mat-checkbox>
                    <p *ngIf="user.uid"><span>Registration date:</span> <i>{{user.settings.registrationDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i></p> 
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid"><span *ngIf="!user.uid">Save</span><span *ngIf="user.uid">Update</span></button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>