// @import "../../../theme/styles/variables";


.relatie-name{
    padding: 0 12px;
    font-weight: 400;
}
.relatie-content{
    padding: 10px;
    .relatie-img{
        position: relative;
        img{
            border-radius: 50%;
            width: 80px;
            height: 80px;
            &.blocked{
                opacity: 0.5;
            }
        }
        .mat-icon{
            position: absolute;
            top: -8px;
            left: -8px;            
            font-size: 96px;
            height: 96px;
            width: 96px;            
        }
    }
    .mat-slide-toggle{
        margin-top: 15px;
    }
    .relatie-details{
        span{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .mat-icon{
            padding: 2px 10px;
        } 
        &.blocked{
            opacity: 0.5;
        }
    }    
}

.header-title{
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 12px;
    color: whitesmoke;
}


.relatie-search{
    width: 0;
    overflow: hidden;
    transition: 0.3s;
    text-align: center !important;
    margin-left: -6%;
    .mat-form-field{
        width: 60%!important;
        text-align: center !important;
        height: 36px;        
    }
    .mat-form-field-infix{
        padding: 5px;
    }
    .mat-input-element{
        text-align: center;
    }
    &.show{
        width: 100%;
        overflow: visible;
    }
}

.relatie-spinner{
    position: absolute;
    top:0; right: 0; bottom: 0; left:0;
}

.no-padding {
    padding: 0;
}

mat-card-header {
    height: 42px;
}

 .formly-buttons {
     margin-top: 1em;
 }


::ng-deep .display-none {
    display: none !important;
  }

  .search-bar{
    form{
        input{
            height: 28px;
            border: none;
            padding: 0;
            border-radius: 15px;
            outline: none;
            color: #444;
            width: 0;
            overflow: hidden;
            transition: 0.3s;
            &.show{
               padding: 0 8px;
               width: 250px;
            }
        }       
    }
}

.search-button {
    margin-right: 1em;
}

  
  .bounds {
      padding: 2em;
  }

.tab { 
    padding: 2em;
}


mat-chip-list {
    margin-bottom: 2em;
}

::ng-deep mat-chip > mat-icon > .icon-sm, .mat-icon.icon-sm {
    width: 25px;
    height: 20px;
}


