<div fxLayout="column">
  <div class="flex-p">
    <mat-card class="no-padding">
      <mat-card-header class="bg-primary" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
          <mat-card-subtitle fxFlex>
            <h2 class="header-title">Relatie</h2>
          </mat-card-subtitle>
          <!-- <div fxLayout="row" fxLayoutAlign="end center" fxShow="false" fxShow.gt-xs class="search-bar">
            <form method="get">
              <input type="text" placeholder="Type to search..." class="mat-elevation-z3" [class.show]="toggleSearchBar" (keyup)="applyFilter($event.target.value)">
              <button class="search-button" mat-icon-button (click)="toggleSearchBar = !toggleSearchBar" type="button">
                <mat-icon>zoeken</mat-icon>
              </button>
            </form>
          </div> -->
        </div>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit(model)" autocomplete="off">
          <div class="bounds" fxLayout="row" fxLayoutGap="2%">
            <div fxFlex="25">
              <formly-form [form]="form" [fields]="fieldsTopSection1" [options]="options" [model]="model"></formly-form>
            </div>
            <div fxFlex="25">
              <formly-form [form]="form" [fields]="fieldsTopSection2" [options]="options" [model]="model"></formly-form>
            </div>
          </div>


          <mat-tab-group mat-align-tabs="left" color="accent" backgroundColor="primary" dynamicHeight [(selectedIndex)]="index">

            <mat-tab label="Contact">
              <div class="tab" fxLayout="row" fxLayoutGap="2%">

                <div fxFlex="25">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-chip-list>
                      <mat-chip color="primary" selected="true" class="info-chip">
                        <mat-icon class="icon-sm">home</mat-icon>bezoekadres
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                  <formly-form [form]="form" [fields]="fieldsBezoekadres" [options]="options" [model]="model">
                  </formly-form>
                  <div style="width: 100%">
                    <mat-checkbox (click)="postClickAnders()" style="width: 100%">Postadres anders dan bezoekadres
                    </mat-checkbox>
                  </div>
                </div>

                <div fxFlex="25" *ngIf="postAnders === true">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-chip-list>
                      <mat-chip color="primary" selected="true" class="info-chip">
                        <mat-icon class="icon-sm">home</mat-icon>postadres
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                  <formly-form [form]="form" [fields]="fieldsPostadres" [options]="options" [model]="model">
                  </formly-form>
                </div>

                <div fxFlex="25">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-chip-list>
                      <mat-chip color="primary" selected="true" class="info-chip">
                        <mat-icon class="icon-sm">contact_phone</mat-icon>contact
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                  <formly-form [form]="form" [fields]="fieldsContact" [options]="options" [model]="model"></formly-form>
                </div>

              </div>
              <button type="submit" mat-flat-button>send</button>
            </mat-tab>

            <mat-tab label="Financieel">

              <div class="tab" fxLayout="row" fxLayoutGap="2%">
                <div fxFlex="25">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-chip-list>
                      <mat-chip color="primary" selected="true" class="info-chip">
                        <mat-icon class="icon-sm">account_balance</mat-icon>bank
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                  <formly-form [form]="form" [fields]="fieldsBank" [options]="options" [model]="model"></formly-form>
                </div>
                <div fxFlex="25">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-chip-list>
                      <mat-chip color="primary" selected="true" class="info-chip">
                        <mat-icon class="icon-sm">euro_symbol</mat-icon>btw en omzet
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                  <formly-form [form]="form" [fields]="fieldsBtwOmzet" [options]="options" [model]="model">
                  </formly-form>
                </div>
              </div>

            </mat-tab>

            <mat-tab label="Contactpersonen">



            </mat-tab>

            <mat-tab label="Inkoop">


              <mat-tab-group style="margin-top: 1.5em;" *ngIf="index == 3" [selectedIndex]="0">
                <mat-tab label="Inkoopbepalingen">
                  <div fxFlex="33" style="margin: 2em;">
                    <formly-form [form]="form" [fields]="fieldsInkoopbepalingen" [options]="options" [model]="model">
                    </formly-form>
                  </div>
                </mat-tab>
                <mat-tab label="Transport">
                    <div fxFlex="33" style="margin: 2em;">
                      <!-- <formly-form [form]="form" [fields]="fieldsCrediteur" [options]="options" [model]="model"></formly-form> -->
                    </div>
                </mat-tab>
                <mat-tab label="Crediteur">
                  <div fxFlex="33" style="margin: 2em;">
                    <!-- <formly-form [form]="form" [fields]="fieldsCrediteur" [options]="options" [model]="model"></formly-form> -->
                  </div>
                </mat-tab>
                <mat-tab label="Inkoopofferte leverancier">
                  Tab One Content
                </mat-tab>
                <mat-tab label="Inkooporders">
                  Tab Two Content
                </mat-tab>
                <mat-tab label="Inkoopfacturen">
                  Tab Two Content
                </mat-tab>
                <mat-tab label="Goederenontvangsten">
                  Tab Two Content
                </mat-tab>

              </mat-tab-group>
            </mat-tab>

            <mat-tab label="Verkoop">



            </mat-tab>

            <mat-tab label="debug">

              <div class="tab" fxLayout="row" fxLayoutGap="2%">
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title>Form</mat-card-title>
                      <mat-card-subtitle>Ingevulde waardes voor het data object</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <pre>
                                      {{ form.value | json }}
                              </pre>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>

            </mat-tab>

          </mat-tab-group>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>