<div fxLayout="column">
  <div class="flex-p">
    <mat-card class="no-padding">
      <mat-card-header class="bg-primary" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
          <mat-card-subtitle fxFlex>
            <h2 class="header-title">Landen</h2>
          </mat-card-subtitle>
          <div fxLayout="row" fxLayoutAlign="end center" fxShow="false" fxShow.gt-xs class="search-bar">
            <form method="get">
              <input type="text" placeholder="Type to search..." class="mat-elevation-z3" [class.show]="toggleSearchBar" (keyup)="applyFilter($event.target.value)">
              <button class="search-button" mat-icon-button (click)="toggleSearchBar = !toggleSearchBar" type="button">
                <mat-icon>search</mat-icon>
              </button>
            </form>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group mat-align-tabs="center" (selectedIndexChange)="selectedIndexChange($event)" [selectedIndex]="selectedIndex" dynamicHeight>
          <mat-tab label="Landen lijst" class="flex-p">
            <div class="tab-table">
              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef>index</th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    {{ i }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef>
                 
                  </td>
                </ng-container>
                <ng-container matColumnDef="isoAlpha2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        ISO Alpha-2 (landcode)
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.isoAlpha2 }}</td>
                    <td mat-footer-cell *matFooterCellDef>
                        totaal: {{ totalLengthRows }}
                    </td>
                  </ng-container>
                <ng-container matColumnDef="naam">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Naam
                  </th>
                  <td mat-cell *matCellDef="let element">{{ element.naam }}</td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="postcodemasker">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          postcodemasker
                      </th>
                      <td mat-cell *matCellDef="let element">{{ element.postcodemasker }}</td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row [ngClass]="{ selected: row === selectedRow }" (click)="selectRow(row)" *matRowDef="let row; columns: displayedColumns"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="{{tabTitle}}">
            <div class="tab-nieuw" fxLayout="row" fxLayoutAlign="center center">
              <form [formGroup]="form" (ngSubmit)="submit(model)" autocomplete="off">
                <mat-card class="formly-mat-card" fxLayout="column" fxLayoutAlign="center end">
                  <formly-form [form]="form" [fields]="fields" [options]="options" [model]="model"></formly-form>

                  <div class="formly-buttons" fxLayout="row" fxLayoutAlign="space-between center">
                    <button style="margin-right: 1em;" type="button" (click)="resetForm()" mat-flat-button>
                      reset
                    </button>
                    <button color="accent" type="submit" [disabled]="!form.valid" mat-raised-button>
                      verstuur
                    </button>
                  </div>
                </mat-card>
              </form>
            </div>
          </mat-tab>
          <mat-tab label="Historie">
            <p class="py-1">Test</p>
          </mat-tab>
          <mat-tab label="Debug">
            <div class="tab-debug" fxLayout="row" fxLayoutAlign="center start">
              <mat-card style="margin-right: 1em">
                <mat-card-header>
                  <mat-card-title>Model</mat-card-title>
                  <mat-card-subtitle>standaard model van het data object</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <pre>
                            {{ model | json }}
                        </pre>
                </mat-card-content>
              </mat-card>

              <mat-card style="margin-left: 1em">
                <mat-card-header>
                  <mat-card-title>Form</mat-card-title>
                  <mat-card-subtitle>Ingevulde waardes voor het data object</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <pre>
                                {{ form.value | json }}
                            </pre>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>